modules = ["nodejs-20", "web", "nix"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install --frozen-lockfile && pnpm --filter @workspace/discord-bot run dev"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
FACEBOOK_URL = "https://www.facebook.com/mufasaaconquer"
SERVER_WEBSITE = "https://www.mufasaconquer.com/"
SERVER_NAME = "Mufasa Conquer"
CHANNEL_SERVER_STATUS = "1524075536693989456"

[nix]
channel = "stable-25_05"
